# Dependencies
node_modules/

# Next.js
.next/
out/

# Build output
*.tgz

# Environment
.env
.env.local
.env*.local

# Vercel
.vercel/

# Debug
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
